#search-form {
background-color: #ffad33;
overflow: auto;
width: 300px;
height: 350px;
padding-left: 20px;
border: 3px solid #ffad33;
}
#map {
        width: 500px;
        height: 400px;
        background-color: #CCC;
        border: 3px solid #ffff4d;
		border-style:outset;
        position: absolute;
        top: 45px;
        right: -86px;
      }
	  
#para{
		position: absolute;
		top: 2px;
		right: -180px;
		
		font-size:27px;
		font-family: "Segoe Script", Times, serif;
		
		text-shadow: 0px 0px 7px rgba(240, 8, 27, 0.75);
		color: #FFEF00;
	

		
	
	
}
#bg{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	min-width:100%;
	min-height:100%;
	
}

html {
	background: url(images/bg.jpg) no-repeat center center fixed;
	background-size: cover;
	
	
}


