#search-form {
background-color: #ffad33;
overflow: auto;
width: 300px;
height: 350px;
padding-left: 20px;
border: 3px solid #ffad33;
}
#map {
        width: 500px;
        height: 400px;
		background-color: #CCC;
		border: 3px solid #73AD21;
		position: absolute;
		top: 80px;
		right: 10px;
      }
